* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1d1d1;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 4rem;
  object-fit: contain;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  flex: 2;
}

.search-bar input {
  padding: 8px 40px 8px 16px;
  border-radius: 20px;
  border: 1px solid #696969;
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  color: #333333;
}

.search {
  padding: 6px 16px;
  border-radius: 20px;
  background-color: #0D00FE;
  color: white;
  font-weight: bold;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

.login-btn {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0D00FE;
  color: white;
  font-weight: bold;
  border: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  .search-bar input {
    width: 100%;
    max-width: 250px;
  }

  .login-btn {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 3rem;
  }

  .search-bar input {
    max-width: 200px;
  }

  .login-btn {
    padding: 8px;
    font-size: 14px;
  }
}
